<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Weighted Assessment</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
   <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<form action="" method="post">
    {% csrf_token %}
    <p style="color: red">{{ error }}</p>
    <div class="infoBoxes">
        Each section is part of the total of your grade.
        A full class is out of 100.
        Please add a description so we know what that section is in reference too.

        Grade Percentage<span style="color: red">*</span>: <input value="{{ WeightedAssessment.percentage }}" type="number" name="percentage"/><br><br/>
        Description<span style="color: red">*</span>: <input value="{{ WeightedAssessment.grade }}" name="grade"/><br><br/>
        </a><br><br/><br><br/><br><br/>

        <input type="submit" value="Create" class="saveButton">
    </div>
</form>


    <a href="/home_Instructor/add_syllabus_pick_class/add_syllabus_create/add_syllabus_subscreen.html">
        <button class="backButton">Back</button>
    </a>
    <a href="/">
        <button class="logoutButton">Logout</button>
    </a>
</body>
</html>