<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Add Policy</title>
   <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
  <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>
<label class="nameDisplay">Add a Policy for: {{ course.department }} {{ course.number }} {{ course.name }}: {{ syllabus.semester }} {{ syllabus.year }}
</label>

<form action="" method="post">
   {% csrf_token %}
   <p style="color: red">{{ error }}</p>
   <div class="infoBoxes">
       Enter below the assorted policies for your class. Things such as late work, accommodations, ect.
       <br><br/>
       &emsp;Please enter all policies into the box below.
       <br><br/>
        <br><br/>
       <label for="policy">Policy's<span style="color: red">*</span>:</label>
{#       <br><br/>#}
       <input value="{{ Syllabus.policy }}" type="text" name="policy" size="200"/>
{#       <textarea rows = "10" cols = "60" type="text" value="{{ Syllabus.policy }}" name="policy" id="policy"></textarea>#}

       <br><br/><br><br/><br><br/>

       <input type="submit" value="Create" class="saveButton">
   </div>
</form>

   <a href="/home_Instructor/add_syllabus_pick_class/add_syllabus_create/add_syllabus_subscreen.html">
       <button class="backButton">Back</button>
   </a>
   <a href="/">
       <button class="logoutButton">Logout</button>
   </a>
</body>
</html>
