<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Add Syllabus Subscreen</title>
   <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>

<label class="nameDisplay">Add a Syllabus for: {{ course.department }} {{ course.number }} {{ course.name }}: {{ syllabus.semester }} {{ syllabus.year }}
</label>

<div>
   <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>


<div class= center>
   <a href='add_syllabus_subscreen/add_grading_scale.html' style="text-decoration: none" >
       <button class="adminButton">Add Grading Scale</button>
   </a>
   <a href='add_syllabus_subscreen/add_weighted_assessment.html' style="text-decoration: none">
       <button class="adminButton">Add Weighted Assessment</button>
   </a>
   <a href='add_syllabus_subscreen/add_calendar_entries.html' style="text-decoration: none">
       <button class="adminButton">Add Calendar Entries</button>
   </a>
   <br><br/><br><br/><br><br/><br><br/>


</div>
   <a href='/home_Instructor/add_syllabus_pick_class/add_syllabus_subscreen/add_syllabus_final.html' style="text-decoration: none">
       <button class="saveButton">Finalize Syllabus</button>
   </a>

   <a href="/home_Instructor/add_syllabus_pick_class.html">
       <button class="backButton">Back</button>
   </a>
   <a href="/">
       <button class="logoutButton">Logout</button>
   </a>
</body>
</html>
