<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Weighted Assessment</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
   <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>
<label class="nameDisplay">Add Weighted Assessments for: {{ course.department }} {{ course.number }} {{ course.name }}: {{ syllabus.semester }} {{ syllabus.year }}
</label>
<form action="" method="post">
    {% csrf_token %}
    <p style="color: red">{{ error }}</p>
    <div class="infoBoxes">
        Add Assessments Description and Percentage of the Overall grade. Percentages must add up to 100
        <br><br/>
        Weighted Assessments:
        <br><br/>
        <ul>
            {% for wa in weightedAssessments %}

                <li class="fontsize">{{ wa.description }} {{ wa.weight }}%</li>

            {% endfor %}
        </ul>


        Description<span style="color: red">*</span>: <input value="{{ WeightedAssessment.description }}" name="description"/><br><br/>
        Grade Percentage<span style="color: red">*</span>: <input value="{{ WeightedAssessment.percentage }}" type="number" name="percentage"/><br><br/>

        <br><br/><br><br/><br><br/>

        <input type="submit" value="Add Assessment" class="saveButton">
    </div>
</form>


    <a href="/home_Instructor/add_syllabus_pick_class/add_syllabus_create/add_syllabus_subscreen.html">
        <button class="backButton">Back</button>
    </a>
    <a href="/">
        <button class="logoutButton">Logout</button>
    </a>
</body>
</html>