<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Grading Scale</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay">Add a Grading Scale for: {{ course.department }} {{ course.number }} {{ course.name }}: {{ syllabus.semester }} {{ syllabus.year }}
</label>
<form action="" method="post">
    {% csrf_token %}
    <p style="color: red">{{ error }}</p>
    <div class="infoBoxes">
        <p class="fontsize">Enter the lower bound for each grade letter. The upper bound for a letter grade will start just after the former letter's lower bound.
            <br></br>
            (EX: if A's lower bound is 90, then B's upper bound will be 89.99 B: (A's lower bound, B's lower bound] )
            <br></br>
            A's upper bound is 100, F's lower bound is 0.
        </p>
        <br><br/>

        A [100, : <span style="color: red">*</span> <input value="{{ grading_scale.a }}" type="number" name="number"/> ]<br><br/>
        B (A's lower bound, <span style="color: red">*</span> <input value="{{ grading_scale.b }}" type="number" name="number"/> ]<br><br/>
        C (B's lower bound, <span style="color: red">*</span> <input value="{{ grading_scale.c }}" type="number" name="number"/> ]<br><br/>
        D (C's lower bound, <span style="color: red">*</span> <input value="{{ grading_scale.d }}" type="number" name="number"/> ]<br><br/>
        F (D's lower bound, 0 ]<br><br/>


        </a><br><br/><br><br/><br><br/>

        <input type="submit" value="Create" class="saveButton">
    </div>
</form>

    <a href="/home_Instructor/">
        <button class="backButton">Back</button>
    </a>
    <a href="/">
        <button class="logoutButton">Logout</button>
    </a>
</body>
</html>