<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay"> Create New User
</label>

<div>
    <img class="uwmLogoBottom" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<form method="post">
    {% csrf_token %}

    <p style="color:red">{{ error }}</p>

    <div class="infoBoxes">
        <label for="User's Name">User's Name<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.name }}" name="Name" id="Name">
        <br>

        <label for="Username">Username<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.username }}" name="Username" id="Username">
        <br>

        <label for="Password">Password<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.password }}" name="Password" id="Password">
        <br>



        <label for="User's Role">User's Role:<span style="color: red">*</span>:</label>
        <input type="radio" name="Access" id="Instructor" value="b">
        <label for="Instructor"><span style="font-size: 12px">Instructor</span></label>
        <input type="radio" name="Access" id="Ta" value="c">
        <label for="TA"><span style="font-size: 12px">TA</span></label>
        <input type="radio" name="Access" id="Admin" value="a">
        <label for="Admin"><span style="font-size: 12px">Admin</span></label>
        <br>

        <label for="Office">Office:<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.office }}" name="Office" id="Office">
        <br>

        <label for="Phone Number">Phone Number:<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.phoneNum }}" name="Phone Number" id="Phone Number">
        <br>

        <label for="Email">Email:<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.email }}" name="Email" id="Email">
        <br>


        <label for="Office Hours">Office Hours:<span style="color: red">*</span>:</label>
        <input type="text" value="{{ user.officeHours }}" name="Office Hours" id="Office Hours">
        <br>

        <label for="Assign Course">Assign A Course:<span style="color: red">*</span>:</label>

        <select name="Course" class="wideDropDown">
            <option value="">-- SELECT --</option>

            {% for course in courses %}

                <option value="{{ course.id }}">{{ course.name }} {{ course.number }}</option>

            {% endfor %}
        </select>

    </div>

    <input type="submit" value="Create" class="saveButton">
</form>

<p class="mandatoryInfo">* Mandatory information
</p>

<a href="/home_Admin/">
    <button class="backButton">Back</button>
</a>
<a href="/">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

