<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay"> Create New User
</label>

<div>
    <img class="uwmLogoBottom" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<form>
    <div class="infoBoxes">
        <label for="User's Name">User's Name<span style="color: red">*</span>:</label>
        <input type="text" id="User's Name">
        <br>

        <label for="Username">Username<span style="color: red">*</span>:</label>
        <input type="text" id="Username">
        <br>

        <label for="Password">Password<span style="color: red">*</span>:</label>
        <input type="text" id="Password">
        <br>

        <label for="User's Role">User's Role:<span style="color: red">*</span>:</label>
        <input type="checkbox" id="Instructor">
        <label for="Instructor"><span style="font-size: 12px">Instructor</span></label>
        <input type="checkbox" id="Ta" value="TA">
        <label for="TA"><span style="font-size: 12px">TA</span></label>
        <input type="checkbox" id="Admin">
        <label for="Admin"><span style="font-size: 12px">Admin</span></label>
        <br>

        <label for="Office">Office:</label>
        <input type="text" id="Office">
        <br>

        <label for="Phone Number">Phone Number:</label>
        <input type="text" id="Phone Number">
        <br>

        <label for="Email">Email:</label>
        <input type="text" id="Email">
        <br>


        <label for="Office Hours">Office Hours:</label>
        <input type="text" id="Office Hours">
        <br>

        <label for="Assign Course">Assign A Course:</label>
        <select class="wideDropDown">


        </select>

    </div>

    <input type="submit" value="Create" class="saveButton">
</form>

<p>Mandatory information
</p>

<a href="/home_Admin/">
    <button class="backButton">Back</button>
</a>
<a href="/">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

