<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Course Section</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
{Course Name, Department Course Number}
<label class="nameDisplay">Add a Course Section
</label>

<div>
    <img class="uwmLogoBottom" src="UWM-logo.jpg" alt="UWM Logo">
</div>

<form>
    <div class="center">
        <label for="SectionNumber" class=fontsize>Course Section Number: </label>
        <input type="text" name="SectionNumber" id="SectionNumber" placeholder="(e.g. 803)">

    </div>
    <input type="submit" value="Add Course" class="saveButton">
</form>

<a href="admin_EditCourse2.html">
    <button class="backButton">Back</button>
</a>
<a href="home.html">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

