<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay"> Create A Course
</label>

<div>
    <img class="uwmLogoBottom" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<div class="center">
<form action="" method="post">
    {% csrf_token %}
    Course Name <input type="text" name="name"/><br><br/>
    Course Number <input type="number" name="number"/><br><br/>
    <label for="info">info:</label>
    <input type="text" id="info" name="info" size="100"><br><br>
    <a href="admin_AddCourseSection.html">Add Section</a>
    <input type="submit"/>
</form>
</div>

<a href="/home_Admin/">
    <button class="backButton">Back</button>
</a>
<a href="/">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

