<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay"> Pick a course to edit
</label>

<div>
    <img class="uwmLogoBottom" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<div class="center">
<form action="" method="post">
    {% csrf_token %}
    Enter Course Name <input type="text" name="name"/><br/>
    Enter Course Number <input type="number" name="number"/><br/>
    <input type="submit"/>
</form>
</div>

<a href="home_Admin.html">
    <button class="backButton">Back</button>
</a>
<a href="home.html">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

