<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit User (1)</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay"> Pick a course to edit
</label>

<div>
    <img class="uwmLogoBottom" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<form>
    <div class="center">
        <label for="Courses" class=fontsize>Pick A Course:</label>
    </div>
    <input type="submit" value="Go" class="goButton">
</form>

<a href="/home_Admin/">
    <button class="backButton">Back</button>
</a>
<a href="/">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

