<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Personal Information</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="nameDisplay"> {{ user.name }}
</label>

<div>
    <img class="uwmLogoBottom" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>


<form class="infoBoxes">
        <label for="User's Name">User's Name:</label>
        <input type="text" value="{{ user.name }}" name="Name" id="Name">
        <br>

        <label for="Office">Office:</label>
        <input type="text" value="{{ user.office }}" name="Office" id="Office">
        <br>

        <label for="Username">Username:</label>
        <input type="text" value="{{ user.username }}" name="Username" id="Username">
        <br>

        <label for="Password">Password:</label>
        <input type="text" value="{{ user.password }}" name="Password" id="Password">
        <br>


        <label for="Phone Number">Phone Number:</label>
        <input type="text" value="{{ user.phoneNum }}" name="Phone Number" id="Phone Number">
        <br>

        <label for="Email">Email:</label>
        <input type="text" value="{{ user.email }}" name="Email" id="Email">
        <br>


        <label for="Office Hours">Office Hours:</label>
        <input type="text" value="{{ user.officeHours }}" name="Office Hours" id="Office Hours">
        <br> <br> <br> <br> <br> <br>
    <input type="submit" value="Save Changes" class="saveButton">
</form>
    <button class="backButton">Back</button>

{% if user.access ==  "a"%}
<form>
<a href="/home_Admin/">
    <button class="backButton">Back</button>
</a>
{% endif %}

{% if user.access ==  "b"%}
<a href="/home_Instructor/">
    <button class="backButton">Back</button>
</a>
{% endif %}

{% if user.access ==  "c"%}
<a href="/home_TA/">
    <button class="backButton">Back</button>
</a>
{% endif %}

<a href="/">
    <button class="logoutButton">Logout</button>
</a>
</body>
</html>

