<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="welcomeMessage">Welcome:
</label>

<div>
    <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<div class= center>
    <a href='/admin_CreateNewUser/' style="text-decoration: none">
        <button class="adminButton">Create User</button>
    </a>
    <a href='/admin_EditUser1/' style="text-decoration: none">
        <button class="adminButton">Edit User</button>
    </a>
    <a href='/admin_CreateCourse/' style="text-decoration: none">
        <button class="adminButton">Create Course</button>
    </a>
    <a href='/admin_EditCourse1/' style="text-decoration: none">
        <button class="adminButton">Edit Course</button>
    </a>
</div>


<a href="/" style="text-decoration: none;">
    <button class="logoutButton">Logout</button>
</a>



</body>


</html>

