<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Instructor Home Page</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="welcomeMessage">Welcome:
</label>

<div>
    <img class="uwmLogo" src="UWM-logo.jpg" alt="UWM Logo">
</div>

<div class= center>
    <button class="adminButton">Edit Personal Information</button>
    <button class="adminButton">Classes</button>
    <button class="adminButton">Create Syllabus</button>
    <button class="adminButton">Edit Syllabus</button>
</div>

<button class="logoutButton">Logout</button>



</body>


</html>

