<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<label class="welcomeMessage">Welcome:
</label>

<div>
    <img class="uwmLogo" src="UWM-logo.jpg" alt="UWM Logo">
</div>

<div class= center>
    <button class="adminButton">Create User</button>
    <button class="adminButton">Edit User</button>
    <button class="adminButton">Create Course</button>
    <button class="adminButton">Edit Course</button>
</div>

<button class="logoutButton">Logout</button>



</body>


</html>

