<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>

<label class="nameDisplay"> View Syllabus
</label>

<div>
    <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>

<form method="post" target="_blank">
    {% csrf_token %}
    <p style="color:red">{{ error }}</p>
    <div class="center">
        <label for="Courses" class=fontsize>Pick A Course:</label>
        <select name="course_id" class="wideDropDown">
            <option value="">-- SELECT --</option>

            {% for course in courses %}

                <option value="{{ course.id }}">{{ course.name }} {{ course.number }}</option>

            {% endfor %}

        </select>

    </div>
    <input type="submit" value="Go" class="goButton">
</form>

<a href="/home_Instructor/">
    <button class="backButton">Back</button>
</a>
<a href="/">
    <button class="logoutButton">Logout</button>
</a>

</body>
</html>>