<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.department }} {{ course.number }} {{ course.name }} {{ syllabus.semester }} {{ syllabus.year }}</title>
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <img class="uwmLogo" src="/static/UWM-logo.jpg" alt="UWM Logo">
</div>
<label class="nameDisplay">{{ course.department }} {{ course.number }} {{ course.name }} {{ syllabus.semester }} {{ syllabus.year }}
</label>

<div class="center">
    <p class="text">
        <dl>
            {% for section in sections %}
                <dt>{{ section.teacher.name }} : </dt>
                <dd>{{ section.teacher.email }} | {{ section.teacher.phoneNum }} | {{ section.course.department }} {{ section.course.number }}-{{ section.number }}
                <br><br/>
                Office Hours: {{ section.teacher.officeHours }}
                </dd>
            {% endfor %}

        </dl>
    </p>

    <br><br/>
    <h1 class="fontsize">Assessment</h1>

    <p class="text">
        <dl>
            {% for wa in assessmets %}
                <dt>{{ wa.description }} </dt>
                <dd> {{ wa.weight }}%</dd>
            {% endfor %}

        </dl>
    </p>
<br><br/>
    <h1 class="fontsize">Grading Scale</h1>

    <p class="text">

            A: {{ gradingscales.aLowerBound }}%&emsp;|&emsp;B: {{ gradingscales.bLowerBound }}%&emsp;|&emsp;C:
        {{ gradingscales.cLowerBound }}%&emsp;|&emsp;D: {{ gradingscales.dLowerBound }}%&emsp;|&emsp;F: 0%

    </p>
<br><br/>
    <h1 class="fontsize">Policy</h1>

    <p class ="text">
        {{ syllabus.policy }}
    </p>

<br><br/>
    <h1 class="fontsize">Schedule</h1>

    <p class="text">
        <dl>
            {% for cldentry in calendarentries %}
                <dt>{{ cldentry.calendarDate }}</dt>
                <dd> - {{ cldentry.calendarTopic }} | {{ cldentry.calendarActivity }}</dd>
            {% endfor %}

        </dl>
    </p>
</div>




</body>
</html>